<div
  data-aos="fade-right"
  data-aos-duration="1000"
  class="surface-section p-3 sm:p-4 lg:p-5 text-center"
>
  <section class="p-3">
    <div class="text-center mb-4">
      <div class="mb-3 font-bold text-3xl sm:text-4xl md:text-5xl">
        <span class="text-blue-600">Contato</span>
      </div>
      <div class="text-700 mb-6 text-sm sm:text-base md:text-lg">
        <p>
          Entre em contato comigo para discutir projetos, oportunidades ou
          apenas para trocar ideias
        </p>
      </div>
    </div>

    <!-- Card de Contato -->
    <p-card styleClass="shadow-5 border-round">
      <!-- Header colorido -->
      <ng-template pTemplate="header">
        <div class="bg-blue-600 text-white p-4 border-round-top">
          <h2 class="text-2xl font-bold">Vamos Conversar!</h2>
          <p>
            Estou disponível para projetos freelance, oportunidades de trabalho
            ou parcerias.
          </p>
        </div>
      </ng-template>

      <div class="grid">
        <div class="col-12 md:col-6">
          <h3 class="font-bold mb-3">Informações de Contato</h3>
          <div class="flex align-items-center mb-2 gap-2">
            <i class="pi pi-envelope text-purple-500"></i>
            <span><strong>Email: </strong>{{ email }}</span>
          </div>
          <div class="flex align-items-center mb-2">
            <i class="pi pi-map-marker mr-2 text-purple-500"></i>
            <span><strong>Localização: </strong>São Paulo, SP - Brasil</span>
          </div>
        </div>

        <div class="col-12 md:col-6">
          <h3 class="font-bold mb-3">Redes Sociais</h3>
          <div class="flex align-items-center mb-2">
            <i class="pi pi-linkedin mr-2"></i>
            <a
              href="https://www.linkedin.com/in/joao-pedro-pereira-da-silva/"
              target="_blank"
              >linkedin.com/in/joao-pedro-pereira-da-silva/</a
            >
          </div>
          <div class="flex align-items-center mb-2">
            <i class="pi pi-github mr-2"></i>
            <a href="https://github.com/JoaoPedro019" target="_blank"
              >github.com/JoaoPedro019</a
            >
          </div>
          <p-divider />
          <p>
            Para respostas mais rápidas, envie-me um email ou uma mensagem no
            LinkedIn.
          </p>
        </div>
      </div>
    </p-card>
  </section>
</div>
