<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-5xl">
    <span class="text-blue-600">Sobre Mim</span>
  </div>
  <div class="text-700 mb-6">
    Conheça a minha jornada profissional e o entusiasmo que trago para o
    desenvolvimento de software.
  </div>
  <div class="overflow-hidden">
    <div class="flex-row">
      <span class="text-900 font-bold text-2xl mb-2"
        >Desenvolvedor Fullstack com foco em performance, escalabilidade e
        soluções orientadas ao negócio</span
      >
      <div
        class="col-30 md:col-16 p-6 text-center md:text-left flex align-items-center text-800"
      >
        <div class="flex">
          <div class="flex-column col-8">
            <span class="text-800 text-xl"
              >Meu nome é João Pedro Pereira da Silva, sou estudante de Sistemas
              de Informação na Faculdade Impacta e desenvolvedor Fullstack com
              mais de um ano de experiência profissional. No meu dia a dia,
              domino tecnologias como Angular e RxJS para criar interfaces
              dinâmicas e interativas, Spring Boot e Java para desenvolver APIs
              robustas e seguras, e TypeScript para garantir código limpo e
              escalável. Também trabalho com SQL e Oracle para gerenciar dados
              com precisão, além de ferramentas como Jenkins para pipelines
              CI/CD, Cypress para testes end-to-end e Postman para validação de
              endpoints. <br /><br />
              Meu foco é entregar soluções práticas que otimizem a experiência
              do usuário e garantam a confiabilidade dos sistemas. Busco
              constantemente as melhores práticas, encarando desafios técnicos
              como oportunidades para crescer e refinar minhas habilidades.
              Minha visão é ser um desenvolvedor que combina expertise técnica
              com criatividade, contribuindo para projetos inovadores e
              impactantes no universo tech. <br /><br />
              Aprimoro continuamente minhas habilidades por meio de cursos
              online, bootcamps e aprendizagem autodirigida. Acredito na
              aprendizagem contínua e em me manter atualizado com as melhores
              práticas do setor.</span
            >
          </div>

          <div class="flex flex-column align-items-center md:align-items-end">
            <div class="col-12 md:col-10 mb-1 px-5">
              <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
              >
                <i class="pi pi-graduation-cap text-4xl text-blue-500"></i>
                <div class="text-900 text-xl mb-3 font-bold">
                  Formação Acadêmica <i class="fa-brands fa-angular"></i>
                </div>
                <div class="text-800 mb-3 font-medium">
                  Bacharelado em Sistemas de Informação – Faculdade Impacta
                  (2024 – Em andamento)
                </div>
                <span class="text-700 line-height-3">
                  Em formação contínua para me tornar um profissional ainda mais
                  completo, com foco em desenvolvimento de software, engenharia
                  de sistemas e arquitetura web.
                </span>
              </span>
            </div>
            <div class="col-12 md:col-10 mb-1 px-5">
              <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
              >
                <i class="pi pi-briefcase text-4xl text-blue-500"></i>
                <div class="text-900 text-xl mb-3 font-bold">Experiencia</div>
                <div class="text-800 mb-3 font-medium">
                  Estagiário Desenvolvimento FullStack.
                </div>
                <span class="text-700 line-height-3">
                  <strong>CIEE</strong> - 2024 - Até o momento
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
