<p-divider />
<footer class="m-5 footer-bg">
  <div class="grid">
    <div class="col-12 md:col-4">
      <h3 class="text-primary">DevJoao.P</h3>
      <p class="text-sm text-inverse">
        Portfólio profissional para desenvolvedor Fullstack, destacando
        habilidades técnicas, projetos e experiências.
      </p>
    </div>

    <div class="col-12 md:col-4"></div>

    <div class="col-12 md:col-4 text-center md:text-right">
      <h4 class="text-inverse">Redes Sociais</h4>
      <a href="https://github.com/JoaoPedro019" target="_blank" class="mx-2">
        <i class="pi pi-github text-inverse text-xl hover:text-primary"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/joao-pedro-pereira-da-silva/"
        target="_blank"
        class="mx-2"
      >
        <i class="pi pi-linkedin text-inverse text-xl hover:text-primary"></i>
      </a>
      <a href="mailto:joao17042003@gmail.com" class="mx-2">
        <i class="pi pi-envelope text-inverse text-xl hover:text-primary"></i>
      </a>
    </div>
  </div>
  <p-divider />
  <div class="text-center text-sm mt-4 border-inverse">
    <p class="m-0 text-inverse">
      © 2025 Joao.P. Todos os direitos reservados.
      <span class="ml-1">
        Criado com <span class="text-red-500">Angular</span> e
        <span class="text-primary"> PrimeNG</span>
      </span>
    </p>
  </div>
</footer>
