.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.custom-button {
  position: relative;
  transition: transform 0.2s ease;
}

.custom-button:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3b82f6;
}

.custom-button.active-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3b82f6;
}

.toggle-button {
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
