.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-button {
  position: relative;
}

/* Linha azul ao passar o mouse */
.custom-button:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3b82f6; /* Cor azul */
}

/* Linha azul para a seção ativa */
.custom-button.active-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3b82f6; /* Cor azul */
}

.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -4px; /* Ajuste conforme necessário */
  left: 0;
  width: 100%;
  height: 2px; /* Espessura da linha */
  background-color: #3b82f6; /* Cor azul */
  transition: all 0.3s ease;
}

.toggle-button {
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
