<div class="flex icon-button-container">
  <a
    [href]="github"
    target="_blank"
    rel="noopener noreferrer"
    class="no-underline-link"
  >
    <button
      pButton
      type="button"
      class="p-button-rounded p-button-text custom-button"
    >
      <i class="pi pi-github"></i>
    </button>
  </a>
  <a
    [href]="linkedin"
    target="_blank"
    rel="noopener noreferrer"
    class="no-underline-link"
  >
    <button
      pButton
      type="button"
      class="p-button-rounded p-button-text custom-button"
    >
      <i class="pi pi-linkedin"></i>
    </button>
  </a>
  <a
    [href]="'https://mail.google.com/mail/?view=cm&fs=1&to=' + email"
    rel="noopener noreferrer"
    class="no-underline-link"
  >
    <button
      pButton
      type="button"
      class="p-button-rounded p-button-text custom-button"
    >
      <i class="pi pi-envelope"></i>
    </button>
  </a>
</div>
