.icon-button-container {
  padding: 1.5rem 0px;
  display: flex;
  gap: 1rem;
}

.custom-button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.no-underline-link {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}
