.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-home {
  display: flex;
  gap: 20px;
  padding: 5px;
}

@media (max-width: 768px) {
  .imagem-home {
    display: none !important;
  }
}
