<app-header></app-header>
<div class="container mx-auto pt-24">
  <section id="home" role="region" aria-label="Home">
    <app-home></app-home>
  </section>
  <section id="about-me" role="region" aria-label="Sobre Mim">
    <app-about-me></app-about-me>
  </section>
  <section id="skills" role="region" aria-label="Habilidades">
    <app-skills></app-skills>
  </section>
  <section id="experiences" role="region" aria-label="Experiências">
    <app-experience></app-experience>
  </section>
  <section id="projects" role="region" aria-label="Projetos">
    <app-projects></app-projects>
  </section>
  <section id="contact" role="region" aria-label="Contato">
    <app-contact></app-contact>
  </section>
  <app-footer></app-footer>
</div>
