app-header {
  position: fixed;
  width: 100%;
  z-index: 50;
}

@media (max-width: 833px) {
  .container {
    padding-top: var(--navbar-height, 4rem);
  }
}

@media (min-width: 833px) {
  .container {
    padding-top: var(--navbar-height, 1.5rem);
  }
}
