.skill-card {
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 18px;
}

.skill-card:hover {
  filter: grayscale(0%);
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0);
}
